


<article class="mat-spinner"  *ngIf="progress.spinner">
  <mat-spinner color="primary"></mat-spinner>
</article>


<section class="container__pokemons__home "  *ngIf="!progress.spinner">




  <div class="card in" *ngFor="let card of allPoke | slice:start:end"  matRipple  >
    <div class="theme--red">
        <h1 class="">{{card.name.english}}</h1>
    </div>
    <br>
   <img src="assets/img/images/{{card.id}}.png"  class="card--img">  
    <br>
    <br>
  </div>


</section>



<div class="between" *ngIf="!progress.spinner">
  <button mat-button (click)="back()">Back</button>
  <p>{{start}} of {{cardMedium}}</p>
  <button mat-button (click)="next()">Next</button>
</div>