


<article class="mat-spinner"  *ngIf="progress.spinner">
  <mat-spinner color="primary"></mat-spinner>
</article>


<section class="container__pokemons__home "  *ngIf="!progress.spinner">




  <div class="card inTop" *ngFor="let card of allPoke | slice:0:end"  matRipple  >
    <div class="theme--red">
        <h1 class="">{{card.name.english}}</h1>
    </div>
    <br>
   <img src="assets/img/images/{{card.id}}.png"  class="card--img">  
    <br>
    <br>
  </div>


</section>


 
<div class="between" *ngIf="!progress.spinner">
  
  <i class="fas fa-circle-notch"></i>
  <button [disabled]="progress.spinner" mat-button (click)="next()">Cargar mas..</button>
</div>
    