<div class="container__float"  >

  
    <div class="container__data__float  up"  >
  
  
      <div class="container__data__title  ">
            <div class="container__data__title">

                <img src="../../assets/img/images/1.png" alt="img" class="avatar">
                <h1>Bulbasaur</h1>
            </div>
            <p><span  matRipple class="fas fa-arrow-down"></span> </p>
      </div>
  
 <!--
        <div class="spinner" style="margin-top: -10px;  display: flex;justify-content: center;"  >
            <mat-spinner color="accent"></mat-spinner>
        </div>
  -->
      <article class="container__global__content"  >
  
   
          <div class="container__globa__subcontent inBottoms  ">
            <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
            <p class="data">  3 </p>
      </div>
      <div class="container__globa__subcontent inBottoms  ">
        <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
        <p class="data">  3 </p>
  </div>
  <div class="container__globa__subcontent inBottoms  ">
    <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
    <p class="data">  3 </p>
</div>
<div class="container__globa__subcontent inBottoms  ">
    <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
    <p class="data">  3 </p>
</div>
<div class="container__globa__subcontent inBottoms  ">
    <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
    <p class="data">  3 </p>
</div>
<div class="container__globa__subcontent inBottoms  ">
    <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
    <p class="data">  3 </p>
</div>
<div class="container__globa__subcontent inBottoms  ">
    <p ><i class="separateIcon fas fa-user-plus separateIcon"  ></i> Nuevo confirmados</p>
    <p class="data">  7 </p>
</div>    
           
      </article>
  
  
   
    </div>
  
  
  
  </div>
  
 