
<!-- menu -->
<div class="menu--red contentLeft">
  <li  class="inBottom"><a   [routerLinkActive]="['active']" [routerLink]="['/go']">Go</a></li>
  <li  class="inBottom"><a   [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a></li>
  <li class="inBottom"><a [routerLinkActive]="['active']" [routerLink]="['/all']">Todos</a></li>
  <li class="inBottom"><a [routerLinkActive]="['active']" [routerLink]="['/search/']">Buscar</a></li>
</div>
<div class="theme--red">
  <h1 class="inBottom">Pokemons</h1>
</div>
<router-outlet></router-outlet>
