
<!-- menu -->
<div class="menu--red contentLeft">
  <li  class="inBottom"><a   [routerLinkActive]="['active']" [routerLink]="['/home']">Home <i class="fas fa-home"></i> </a></li>
  <li  class="inBottom"><a   [routerLinkActive]="['active']" [routerLink]="['/all']">Todos <i class="fas fa-layer-group"></i></a></li>
  <li  class="inBottom"><a   [routerLinkActive]="['active']" [routerLink]="['/search/']">Buscar <i class="fas fa-search"></i></a></li>
</div>
<div class="theme--red">
  <h1 class="inBottom">Pokemons</h1>
</div>
<router-outlet></router-outlet>
