

<div class="fixed">
    <!-- progress -->
  <article   class=" mat-spinner " *ngIf="spinner.load">
    <mat-spinner class="mat-spinner" color="primary"></mat-spinner>
  </article>

  <div class="container__pokemons__home inTop in" *ngIf="!spinner.text || !spinner.load">
    <h2 class="title text--white">Portal de pokemones <i class="fas fa-smile-beam text--blue letter2 inLeft"></i></h2>
  </div>
  <div class="responsive" *ngIf="!spinner.load">
      <img src="assets/pokemonHome.png" alt="poke home" class="inTop blurtime" >
  </div>


  <div class="container__pokemons__home inBottom" *ngIf="!spinner.load">
    <button type="button" name="button" class="min btn--blue" mat-button (click)="goHome()">Go<i class="fas fa-location-arrow"></i></button>
  </div>

</div>