
<form class="form inTop">
    <input type="text" name="search" value={{form.value}} placeholder="Pokemon" class="large" #searchs autocomplete="false">
    <button type="button" name="button" class="btn--blue minmin" mat-button (click)="search(searchs.value)">Search<i class="fas fa-search"></i></button>
</form>
<div class="alert--error inTop" *ngIf="!form.value">
  No se ha especificado una busqueda.
</div>
<!-- progress -->
<!-- <article class="responsive__progress inTop" *ngIf="progress.load">
  <mat-spinner></mat-spinner>
</article>
 -->


<div class="alert--success in" *ngIf="returnSearch!=''&&!progress.load">
    Resultados
</div>
<br>
<br>
<br>
<section class="container__pokemons__home">



  <div class="card in" *ngFor="let card__ of returnSearch" matRipple (click)="ok(card__.id)">
    <div class="theme--red">
        <h1 class="">{{ card__.name.english }}</h1>
    </div>
    <br>
    <img src="assets/img/images/{{card__.id}}.png" alt="image pokemon" class="card--img">
    <br>
  </div>


</section>
